language: java
sudo: false
jdk:
  - oraclejdk8
notifications:
  email: false
  irc:
    channels:
      - secure: aAN4pVAwSKcsxt8ldLJD5KN8EUujFWLXb9FPTl7MeQ4wyG0RjzBJfn6C35rMVXGA1UkztWMaMlB/VqXM6cyIPwrKj/rT8R4G7++ohXzslgcJpK5pURKYG5wVH9SENHh0Llj1bCCyLAJXoqKn35yuwgCZ9MG+jUwbeXnaKV/aVSGxnK3hR1+3qWx83aIQmTOXkam5Sthgt2CC+bW6AlM/M4GGkcWfAwnpGoIX48ENzaG1REbqn+P1SzE8YhKzC+95C0qOrw7CSIT178p7C3ZQuw9gAqbpzvgfxj3fVu51kOecFsRKVOR/IpL6hkaFvEKeyLio4HSz9fZIon3xX5AX1Itv7bip3mWO7CV3GyfLPpTuee4XUFiUkMwKHLjJoSMBrFEgrTWhc2NrOzlJSnB5DNaPz7BxpAkfZHf9z6oa6Wsok9XAEFNcxgkDqQQHSfZhhwJ1sRHvrTEpuwzJlbHC6l1ByvNy7/BURB5uFrXu6Zlp+NDUgH0lOGDeCFIOwnLYjFFsHl2/X5kJVrS8cAS7HarpbVexmGb2VTR+vnYLBKNDj7LFK6QdrOxUkQrA/2Bt4ykGRQFy8tia/8e6+TmNF867GrQTuSFEod+LdYEwpgrAwisXKXT1gPF9SWbgQi/O0Z/KzwtAoEH/qNhcwZldW3t2rBEltqvTj21brG1/87g=
    nick: Cardstock
    password:
      secure: FVKCW/sznX8Wjfdj2ED6DZt/PkJXRs4zRUqwh1dRjQRGNwAaa56HPxhsrltRPzky+ur/mT1wEiAH5XwA5gotGDDmWXoYR6yPMm3xaJx02GF00+JrnkXsd2x5o5UyFNiqJOHQI02iGZ1ot/sjTHhMp0eCn3KKx5M8vNlZBalQvDdfHmrz6xda/gUyyo61aRGsNRy/IW2wPmB735T7MgHW4jQx+EGjDQdZA/BLEAcBWn++LW+0GkeTBn30Iq14+AhANxLjfIMExHUtJhaed2A8u40sUWj18ZdfCMbOsh2fMOZhNte0Kknt/khPAtBTX/ufIP22aNA7XP1v7v63AHNZehdTbUCH25tIX+JAE43qBeg6/Cwac6owHui4Kx+GTgJRKAiN59Zb4Isd0mgojnAQa6vuBYn/ImjjHh5Yc8N4ASvUvjtCxptm/nOXB8cFRUJkXZ27Fe6ZIxYLqX7k+4YE3ZsDHHE+bovswXC25Em92KtE+nombXI1I+/a4CgPkHJH305lYd4FGlHvDninWKawh/EUE5fgL/pM3kKjy/jEwqL9Vw6gHN4iR8TGZ0c+mVNpQaS0ECAIqWHGbDfePdG4yd9Via5pDZiqPVlPQRfVv4CkxwKF5YDStXJIVvt4nH+aOoLVpYqANDPZA8tqvBQVLzDYeGePR5bthJrdk2J0+Xg=
    skip_join: true
before_install:
  - pip install --user codecov
after_success:
  - codecov
